@{
    ViewBag.Title = "About";
}

<div id="track-empty-state">
    <div class="major-header gray">This is a thing, ya'll</div>

    <div class="dramatic-body dark-gray">These are some flippy things</div>

    <div class="card-container" style="margin-right: 0px;">
      <div class="card track-card everyday_activities flippy">
        <div class="card-front widget">
          <div class="widget-subsection card-splash-image">
              <img src="~/Images/avatar.jpg" />
          </div>

          <div class="widget-subsection card-title">
            <div class="content">
              <span>Edgar</span>
            </div>
          </div>

          <div class="widget-subsection card-footer">
            <span class="emphasis">Likes:</span> A lot of things.
          </div>

        </div>

        <div class="card-back card-rotate widget">
          <div class="widget-subsection card-exercise-list">
            <ul>
              <li>
                A thing
                <div class="secondary">Blippity bloop.</div>
              </li>
              <li>
                Another thing
                <div class="secondary">Yeppers</div>
              </li>
              <li>
                Otra cosa
                <div class="secondary">Cosas de esa cosa.</div>
              </li>                                      
            </ul>
          </div>

          <div class="widget-subsection card-footer">
            <a class="white-btn pill-btn get_prompt from_static everyday_activities" href="#">Button</a>
          </div>

        </div>
      </div>
    </div>

    <p class="large-body"></p>

  </div>
